.b-products-item {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.b-products-item .v-card__actions {
    padding-left: 16px;
    padding-right: 16px;
}

.b-products-item__hero {}

.b-products-item__title {
    background-color: rgba(255, 255, 255, 0.8);
}

.b-products-item__main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.b-products-item__desc {
    text-align: left;
}

.b-products-item__block-title {
    font-weight: bold;
}

.b-products-item__price {
    text-align: left;
}

.b-products-item__colors {
    display: flex;
    flex-wrap: wrap;
}

.b-products-item__color {
    display: inline-block;
    padding: 3px;
    flex-grow: 1;
}

.b-products-item__link-wr {
    margin-right: auto;
}

.b-products-item__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.b-products-item__price {
    margin-right: 10px;
}

.b-products-item__link.v-btn {
    color: #BDBDBD;
}

.b-products-item__link-icon {
    /*color: #BDBDBD;*/
}
